---
import { opensource } from "../data/opensource";
import Container from "./Container.astro";
import SectionTitle from "./SectionTitle.astro";
---

<section id="opensource" class="py-36">

    <Container>

        <SectionTitle
            overline="Open Source"
            title="Open Source Contributions"
            description="Software developed to promote learning, research and knowledge sharing through Free Software."
        />

        <div class="mt-16 grid gap-8 md:grid-cols-2">

            {
                opensource.map((project) => (

                    <article
                        class="rounded-3xl border border-slate-200 bg-white p-8 transition duration-300 hover:-translate-y-1 hover:shadow-2xl">

                        <h3 class="text-2xl font-bold">
                            {project.title}
                        </h3>

                        <p class="mt-4 leading-relaxed text-slate-600">
                            {project.description}
                        </p>

                        <div class="mt-8">

                            <a
                                href={project.url}
                                target="_blank"
                                class="font-medium text-blue-600 hover:underline">

                                View Repository →

                            </a>

                        </div>

                    </article>

                ))
            }

        </div>

    </Container>

</section>